<h1 id="incubator">🤑 Incubator 🤑</h1>
<p>Our innovative students from the TUM School of Money have come up with a revolutionary startup idea. In order to
    win the game of capitalism, they now need to maximise the revenue by selling their product to the world.</p>
<p>So far, there are <span class="math inline">\(n\)</span> interested customers. The <span class="math inline">\(i\)</span>-th
    customer is willing to pay at most <span class="math inline">\(a_i\)</span> euros for the product. If the price
    for the product is <span class="math inline">\(m\)</span> euros, then the total money the startup earns is <span
            class="math inline">\(m\)</span> multiplied by the number of people who are willing to pay <span
            class="math inline">\(m\)</span> euros or more.</p>
<p>Help the capitalistic TUM spin-off maximising their revenue.</p>
<h2 id="inputoutput-description">Input/Output Description</h2>
<h3 id="input">Input</h3>
<p>The input parameter is a list of <span class="math inline">\(n\)</span> integers, the <span class="math inline">\(i\)</span>-th
    integer representing the price that the <span class="math inline">\(i\)</span>-th customer is willing to pay.
</p>
<h3 id="output">Output</h3>
<p>Your function should return one integer - the maximum income the startup can achieve.</p>
<h2 id="constraints">Constraints</h2>
<ul>
    <li><span class="math inline">\(1 \le n \le 10000\)</span></li>
    <li><span class="math inline">\(1 \le a_i \le 1012\)</span></li>
</ul>
<h3 id="examples">Examples</h3>
<h4 id="input-1">Input</h4>
<ol type="1">
    <li><code>[1,2,3,4,5,6,7,8]</code></li>
    <li><code>[2,4,2]</code></li>
</ol>
<h4 id="output-1">Output</h4>
<ol type="1">
    <li><code>20</code></li>
    <li><code>6</code></li>
</ol>
