<h1 id="helping-rudolph">Helping Rudolph</h1>
<p>Rudolph has got the special mission to deliver presents to the houses in his village.</p>
<p>The elfs gave him instructions with the moves that he has to take such that his route respects the following
    conditions:</p>
<ol type="1">
    <li>The village is a single row of infinitely many houses, which means Rudolph can only move to the left or to
        the right.
    </li>
    <li>His start and end point is Santa’s warehouse.</li>
    <li>Santa’s warehouse is the first house in the row, which means Rudolph can’t move to the left if he is at the
        warehouse.
    </li>
    <li>The sequence is composed of “R” and “L” for right and left moves, respectively.</li>
</ol>
<p>Some valid sequences of moves are <code>"RRRLRLLL"</code>, <code>"RRLL"</code> and <code>"RRLRRLLL"</code>.
    <code>"LR"</code>, <code>"LLR"</code>, and <code>"RLLR"</code> are not valid because they break conditions 2 and
    3. Rudolph is now set to start his mission. However, upon looking over the route, he finds that the elfs gave
    him wrong instructions. Because he doesn’t have time to ask the elfs for new instructions, he decides to form a
    new route the following way: he takes the longest substring from the old instructions and this substring should
    be a valid sequence that he can follow. Rudolph is asking you to do the hard part, that is to find the longest
    substring that represents a valid sequence of moves. You also have to find the total number of such substrings.
</p>
<h2 id="inputoutput-description">Input/Output Description</h2>
<h3 id="input">Input</h3>
<p>There is one input parameter: a string <span class="math inline">\(s\)</span> consisting of <code>'R'</code> and
    <code>'L'</code> characters.</p>
<h3 id="output">Output</h3>
<p>Your function should return a pair of two integers <span class="math inline">\((n, m)\)</span> where <span
        class="math inline">\(n\)</span> is the length of the longest substring that is a valid sequence of moves
    and <span class="math inline">\(m\)</span> is the number of such substrings. If there are no valid substrings,
    return <span class="math inline">\((0, 1)\)</span>.</p>
<h2 id="constraints">Constraints</h2>
<ul>
    <li><span class="math inline">\(0 \le |s| \le 50000\)</span></li>
</ul>
<h3 id="examples">Examples</h3>
<h4 id="input-1">Input</h4>
<ol type="1">
    <li>“LRRRLLLLRRLRLL”</li>
    <li>“LLR”</li>
</ol>
<h4 id="output-1">Output</h4>
<ol type="1">
    <li><code>(6, 2)</code></li>
    <li><code>(0, 1)</code></li>
</ol>
