<h1 id="networking">Networking</h1>
<p>Sometimes, Lea has to attend loud and boring parties. In the beginning of such events, everybody wants to say hello to all the other people attending. This usually creates a big mess, so this year the transitive symmetric stationary greeting system (TSSGS) was introduced which works as follows:</p>
<p>Greetings are now transitive, that is, if Lea greets Ralph and Ralph greets Tom, then Lea is considered to have greeted Tom (thus transitive). Greetings are also symmetric, thus if Lea greets Tom (directly or via transitivity), Tom is considered to have greeted Lea. As to further reduce work, people do not move through the room but simply shout out to persons they want to greet (thus stationary). Still everybody wants to greet everybody (possibly indirectly).</p>
<p>This system of course reduced the work, but now everybody was shouting through the room and it soon got very loud. Lea wants to do one more optimization: The sound level should be as low as possible while satisfying all the constraints above. A greeting between two people is as loud as the distance between them, the sound level is the sum of all greetings that take place. Help Lea with that problem by finding the optimal greeting arrangement.</p>
<h2 id="input">Input</h2>
<p>This time you have to read the input from stdin.</p>
<p>The first line of the input is an integer <span class="math inline">\(n\)</span>, the number of people at the party. Then, <span class="math inline">\(n\)</span> lines follow. The <span class="math inline">\(i\)</span>-th line consists of integers <span class="math inline">\(m_{i,j}\)</span> where <span class="math inline">\(m_{i,j}\)</span> is the distance of person <span class="math inline">\(i\)</span> to person <span class="math inline">\(j\)</span> for <span class="math inline">\(1\leq j\leq n\)</span>. It is always the case that <span class="math inline">\(m_{i,i} = 0\)</span> and <span class="math inline">\(m_{i,j} = m_{j,i}\)</span>.</p>
<h2 id="output">Output</h2>
<p>Output the greetings that take place, one per line.</p>
<p>If there are multiple ways the greetings can take place with minimal sound level, any of them will be accepted. The order of the greetings does not matter.</p>
<h2 id="constraints">Constraints</h2>
<ul>
<li><span class="math inline">\(2 \le n \le 300\)</span></li>
<li><span class="math inline">\(0 \le m_{i,j} \le 10000\)</span></li>
<li><span class="math inline">\(m_{i,i} = 0\)</span> and <span class="math inline">\(m_{i,j} = m_{j,i}\)</span></li>
</ul>
<h2 id="example">Example</h2>
<p>In the following example, lines input by the user are prefixed with <code>&gt;&gt;</code>.</p>
<pre><code>&gt;&gt; 5
&gt;&gt; 0 6 7 7 3
&gt;&gt; 6 0 5 4 7
&gt;&gt; 7 5 0 7 4
&gt;&gt; 7 4 7 0 7
&gt;&gt; 3 7 4 7 0
1 5
2 3
2 4
3 5</code></pre>
