<h1 id="terrible-poetry">Terrible Poetry</h1>
<h2 id="description">Description</h2>
<p><a href="https://en.wikipedia.org/wiki/Tweedledum_and_Tweedledee">Tweedledum and Tweedledee</a>!</br> Who are you, my little dear?</br> Alice?… What a name!</br> No, you cannot pass,</br> what a shame!</p>
<p>Oh no, don’t be mad…</br> We did not mean to make you sad.</br> Listen now, here is a deal.</br> The blockade law,</br> we can repeal.</p>
<p>We have a box,</br> filled with cards,</br> the deck protected,</br> by logic guards…</br> At least last time we checked,</br> ’cause last night, we got a bit wrecked.</p>
<p>And so we mingled and mangled,</br> we jingled and jangled,</br> all our precious cards.</br> On the back of them are numbers,</br> On the front are just hearts.</p>
<p>Some numbers are odd,</br> but others are not.</br> Some hearts of pure gold,</br> others rusty and old.</br> But what makes them common,</br> what is the law?</p>
<p><strong>When gold can be found,</strong></br> <strong>nothing even’s around.</strong></p>
<p>Now it’s your round,</br> your only way out:</br> make sure the rule’s sound,</br> flipping just few cards around.</br></p>
<h2 id="inputoutput-description">Input/Output Description</h2>
<h3 id="input">Input</h3>
<p>A list <code>xs</code> of two-sided cards (coloured hearts and numbers) where you can only see one side.</p>
<h3 id="output">Output</h3>
<p>The number of cards you must flip in order to check if Tweedledum and Tweedledee’s law is valid: <em>Every card with a golden heart has no even number on its opposite side.</em></p>
<h2 id="constraints">Constraints</h2>
<ul>
<li><span class="math inline">\(0 \le |xs| \le 10^6\)</span></li>
</ul>
