<!DOCTYPE html>
<html>
<head>
    <title>Scoreboard</title>
</head>
<body>
<div id="scoreboard-div">

    <h1 class="w3-text-light-grey w3-left">Scoreboard {{ frstr }}</h1>
    <table class="w3-table" style="width:100%">
        <tr>
            <th>Place</th>
            <th colspan="7">Team</th>
        </tr>
        {% for t in teams %}
            <tr>
                <!-- team-place -->
                <td rowspan="2">{{ loop.index }}.</td>
                <!-- team-name -->
                <td colspan="7">{{ t[0] }}</td>
            </tr>
            <!-- P1 | P2 | P3 | P4 | P5 | P6 | P7 -->
            <tr>
                {% for p in t[2] %}
                <!-- Problem -> (score, time, attempts)  -->
                    {% if p[0] == 2 %}
                        <!-- PASS -->
                        <td colspan="1" style="background-color: #88e388"><span class="w3-right">{{ p[2] }}</span><br></br><div class="w3-center">{{ p[1] }}</div><br></br></td>
                    {% elif p[0] == 1 %}
                        <!-- SEMI PASS -->
                        <td colspan="1" style="background-color: #e3cc88"><span class="w3-right">{{ p[2] }}</span><br></br><div class="w3-center">{{ p[1] }}</div><br></br></td>
                    {% elif p[0] == 0 %}
                        <!-- FAIL -->
                        <td colspan="1" style="background-color: #f88989"><span class="w3-right">{{ p[2] }}</span><br></br><div class="w3-center">{{ p[1] }}</div><br></br></td>
                    {% else %}
                        <!-- NOT ATTEMPTED -->
                        <td colspan="1" style="background-color: #171717"><span class="w3-right">-</span><br></br><div class="w3-center">no attempt</div><br></br></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>