<h1 id="scoreboard">🏆 Scoreboard {{ frstr }} 🥇</h1>
<p>On the top right of each field, you can see the number of failed attempts.</p>
<table class="w3-table">
  <tr>
    <th>Place</th>
    <th colspan= {{ n_probs }} >Team</th>
  </tr>
  {% for t in teams %}
    <tr>
    <!-- team-place -->
    <td rowspan="2">{{ loop.index }}.</td>
    <!-- team-name -->
    <td colspan="{{ n_probs }}">{{ t[0] }}</td>
    </tr>
    <tr>
    {% for p in t[2] %}
    <!-- Problem -> (score, time, attempts)  -->
      {% if p[0] == 2 %}
      <!-- PASS -->
      <td colspan="1" class="background-color-pass"><span class="w3-right">{{ p[2] }}</span><br></br><div class="w3-center">{{ p[1] }}</div><br></br></td>
      {% elif p[0] == 1 %}
      <!-- SEMI PASS -->
      <td colspan="1" class="background-color-correct"><span class="w3-right">{{ p[2] }}</span><br></br><div class="w3-center">{{ p[1] }}</div><br></br></td>
      {% elif p[0] == 0 %}
      <!-- FAIL -->
      <td colspan="1" class="background-color-fail"><span class="w3-right">{{ p[2] }}</span><br></br><div class="w3-center">{{ p[1] }}</div><br></br></td>
      {% else %}
      <!-- NOT ATTEMPTED -->
      <td colspan="1" class="background-color-no-attempt"><span class="w3-right">-</span><br></br><div class="w3-center">no attempt</div><br></br></td>
      {% endif %}
    {% endfor %}
    </tr>
  {% endfor %}
</table>
